# sudo : 관리자 권한 찾기
#sudo: required

os: linux

# 언어(플랫폼)선택
language: generic

# ----------------------------
# *** 우분투 릴리즈별 코드명  ***
# Xenial Xerus (16.04)
# Yakkety Yak (16.10)
# Zesty Zapus (17.04)
# Artful Aardvark (17.10)
# Bionic Beaver (18.04)
# ----------------------------
dist: xenial

# docker 환경 구성
services:
  - docker

# Script 를 실행 할수 있는 환경
before_install:
  - echo "start Creating an image with dockfile."
  - docker build -t 2yonghyun/docker-react-app -f Dockerfile.dev .

# 실행할 Script(테스트 실행)
script:
  - docker run -e CI=true 2yonghyun/docker-react-app npm run test -- --coverage

deploy:
  provider: elasticbeanstalk
  region: "ap-northeast-1"
  app: "docker-react-app"
  env: "DockerReactApp-env"
  bucket_name: "elasticbeanstalk-ap-northeast-1-403462778751"
  bucket_path: "docker-react-app"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_ACCESS_KEY